<ons-navigator var="tabNavigator" page="tabbar.html" ng-controller="TabController as tab">
</ons-navigator> 

<ons-template id="tabbar.html">
    <ons-tabbar var="tabbar">
        <ons-tab page="view/home.html" label="ホーム" icon="ion-home" active="true"></ons-tab>
        <ons-tab page="view/calendar.html" label="カレンダー" icon="ion-ios-pricetag"></ons-tab>
        <ons-tab page="view/kintai.html" label="勤怠管理" icon="ion-chatbox-working"></ons-tab>
    </ons-tab>
  </ons-tabbar>
</ons-template>

